.App {
  text-align: center;
  background-color:#eef2f5
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profilecss{
  height: auto;
  width: 7%;
  margin-left: -53%;
  border-radius: 23px;
}

.Addcss{

  border: 2px solid #f6f7f9;
  background-color: #f6f7f9;
  margin: 13px;

}


.Addcss1{
  margin-right: 53%;
  color:#fe5f02;
}

.profilecss1{

  height: auto;
  width: 7%;
  margin-left: -72%;
  border-radius: 23px;

}

.icon1{

}

.icon2{
  
}

.rowpostcss{
  margin-top: -5%;
}


.cardimg1css
{
  width: -webkit-fill-available;
  height: 32%;

}

.profilecss2{
  height: auto;
  width: 8%;
  /* margin-left: -53%; */
  margin-top: 31px;
  border-radius: 23px;
  margin-bottom: 16px;

}


.inputcss{
  padding: 6px;
  border: 2px solid grey;
  width: 66%;
}
.form-control{
margin-left: 399%;
    margin-top: 10%;
    float: left;
}
.whatcss{
  margin-right:  5%;
}

.addpostbutcss{


}

.threedivcss{
  margin-left: 81px;

}


.buttonpostnav{

  border: none;
  width: 157%;
  margin-left: -143%;
  color: white;
  background-color: #ff6204;
}

.imgnav{
  width: 6%;
  border-radius: 25px;
  margin-left: 81%;
}

.searchnav{
  margin-left: 306%;
    border: 2px solid #cecece;
}

.commentsprofile{
  height: auto;
  width: 16%;
  margin-left: -10%;
  border-radius: 23px;
}

.profilecsscomment{
  height: auto;
  width: 16%;
  margin-left: -5%;
  border-radius: 23px;
}

.commentsparagraph{

  font-size: large;
}

.titlenav{
  margin-left: 444%;
  font-family: fantasy;
}

.logocss{

  margin-left: 198%;
}

.form{
  margin-left: -22%;
}

.rowmarginone{
  margin-top: -1%;

}


.homecss{
  margin-left: -16px;
  margin-top: -8%;

}
.homecss1{
  margin-left: -16px;
  margin-top: -8%;
  color: #e66f6f;
}


.rowmargintwo{

  margin-top: -2%;
}
.addpostcss{
  padding: 2%;
  border: none;

}


.iconcss{
  margin-left: -81%;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
